.intro {
  background-image: url('poolBackground.png');
  background-size: cover; height: 600px;
  background-repeat: no-repeat;
  color: #EFE5CA;
  padding: 50px 100px;
}

.hOne {
  font-size: 3em;
}

.p {
  font-size: 1.3em;
  color: #ddd;
}

.hTwo {
  margin-top: 250px;
  text-align: center;
}

ul {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

li {
  margin: 0 25px;
}

.pbj {
  height: 700px;
  padding: 50px 100px;
  margin-bottom: 100px;
}

.pbj > .pbjTitle {
  color: #BF9050;
  text-align: center;
  margin: 0;
  font-size: 3em;
}

.pbj > .desc {
  text-align: center;
}

.desc {
  color: #EFE5CA;
}

.images {
  margin: 50px 0;
  display: flex;
}

figure {
  max-width: calc(100%/2);
}

img {
  max-width: 95%;
}

figcaption {
  color: #646464;
}

.readmore {
  color: #EFE5CA;
  text-decoration: none;
  background-color: #702483;
  border-radius: 3px;
  padding: 5px 20px;
  transition: all .1s ease;

}

.readmore:hover {
  transform: scale(1.1);
  font-size: 1.2em;
  cursor: pointer;
}